/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #444;
}

span, a {
    font-size: 20px;
}

div {
    margin-bottom: 20px;
}

.block {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    padding: 15px 0;
    color: #ecf0f1;
}

header nav {
    display: flex;
    justify-content: right;
    gap: 25px;
}

header nav a {
    color: #ecf0f1; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

header nav a:hover {
    background-color: #34495e;
    transform: scale(1.05); 
}

header nav a.active {
    background-color: #89a7db;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Flash message styles */
.alert {
    padding: 15px;
    margin-left: 0;
    width: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.flash-messages {
    text-align: left; 
    margin-top: 10px;
    margin-left: -40px;
    width: 100%;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #f44336; 
    list-style-type: none;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-left: 5px solid #4caf50;
    list-style-type: none;
}

/* Form container styling */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

/* Label styling */
label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

/* Input fields styling */
input[type="text"], input[type="password"], select, input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding does not affect width */
    transition: border-color 0.3s ease; 
}

input[type="text"]:focus, input[type="password"]:focus, select:focus{
    border-color: #d9e1eac9; 
    outline: none;
}

/* Button styling */
input[type="submit"]{
    padding: 12px;
    background-color: #d2d7dc; 
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #586069;
}


/* Table styling */
table, th, td {
    width: 70%;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
}

th {
    background-color: #507090;
    padding: 5px;
    color: whitesmoke;
}

td {
    padding: 5px;
}

th:nth-child(1), td:nth-child(1) {
    width: 25%;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%;
}

th:nth-child(3), td:nth-child(3) {
    width: 25%;
}
/* Button styling */
a.button.btn-primary {
    color: #507090;
    padding: 12px 20px ; 
    background-color: #d2d7dc;
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

a.button.btn-primary:hover {
    background-color: #586069;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}
a:active {
    color: #586069;
}

