{% extends "navbar.html" %}
{% block title %}Create Expense{% endblock %}
{% block content %}
<h1>Create New Expense Record</h1>

<form method="POST" action="{{ url_for('expense.create_expense') }}">
    {{ form.hidden_tag() }}
    
    <div>
        <label for="date">Date</label>
        {{ form.date() }}
    </div>
    
    <div>
        <label for="category">Category</label>
        {{ form.category() }}
    </div>

    <div>
        <label for="title">Title</label>
        {{ form.title() }}
    </div>

    <div>
        <label for="expense">Expense ($)</label>
        {{ form.expense() }}
    </div>

    <div>
        {{ form.submit(class="btn btn-primary-submit") }}
    </div>
</form>

{% endblock %}
