{% extends "navbar.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome, {{ current_user.email }}!</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">

<h2>Expense Records</h2>
<a href="{{ url_for('expense.create_expense') }}">Create New Expense Record</a>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Expense ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.title }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.expense }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
