{% extends "navbar.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<!-- <h1>Welcome, {{ current_user.email }}!</h1> -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<!-- Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">

<h1>Expense Records</h1>
<a class="button btn-primary" href="{{ url_for('expense.create_expense') }}">Create New Expense Record</a>

<!-- Bubble Chart Display -->
{% if graph_html %}
    <div class="block">
        <h3>Bubble Chart of Expenses</h3>
        <div>{{ graph_html | safe }}</div>
    </div>
{% endif %}

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th class="sortable {{ 'asc' if sort_by == 'date' and sort_order == 'asc' else 'desc' if sort_by == 'date' else '' }}"  
                    data-sort-by="date" 
                    href="{{ url_for('home', sort_by='date', sort_order='desc' if sort_order == 'desc' else 'asc')}}">Date
                    <!-- Show the sort-up icon if the current order is ascending -->
                    <i class="bi bi-sort-up-alt" style="display: {{ 'none' if sort_order == 'desc' else 'inline' }}"></i>
                    <!-- Show the sort-down icon if the current order is descending -->
                    <i class="bi bi-sort-down" style="display: {{ 'none' if sort_order == 'asc' else 'inline' }}"></i>
                </th>
                <th>Title</th>
                <th>Category</th>
                <th>Expense ($)</th>
                <th>Receipt</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.title }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.expense }}</td>
                    <td>
                        {% if expense.receipt_path %}
                            <a href="#" class="view-receipt" data-expense-id="{{ expense.id }}">
                                <i class="bi bi-receipt"></i>
                            </a>
                        {% endif %}
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Receipt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Placeholder for the receipt image -->
                                    <img id="modalReceiptImage" class="img-fluid" alt="Receipt" src="">
                                </div>
                            </div>
                        </div>
                    </div>
                                        
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="pagination">
    {% if expenses %}
        {% for page in range(1, expenses.pages + 1) %}
            {% if page == expenses.page %}
                <span>{{ page }}</span>
            {% else %}
                <a href="{{ url_for('home', page=page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript" src="static/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
{% endblock %}
