{% extends "navbar.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<!-- Use Flask-WTF to render the form -->
<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }} <!-- For CSRF protection -->

    <div>
        <label for="email">Email:</label>
        {{ form.email(class="form-control") }}
    </div>

    <div>
        <label for="password">Password:</label>
        {{ form.password(class="form-control") }}
    </div>

    <div>
        {{ form.submit(class="btn btn-primary-submit") }}
    </div>
</form>

<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      <ul>
        {% for category, message in messages %}
          <li class="alert {{ 'alert-' + category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<script type="text/javascript" src="static/js/alert.js"></script>


{% endblock %}

