{% extends "navbar.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<form id="loginForm">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <div>
        <input id="submit" name="submit" class="btn btn-primary-submit" type="submit" value="Login">
    </div>
</form>

<div class="flash-messages">
    <div class="alert" id="errorMessage"></div>
</div>


<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();

        document.getElementById("errorMessage").textContent = '';

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        console.log("Email: ", email)

        fetch('/login', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: email,
                password: password
            })
        })
        .then(response => {
            if (!response.ok) {
                if (response.status === 401) {
                    throw new Error('Invalid email or password');
                }
                throw new Error('An unexpected error occurred');
            }
            return response.json();
        })
        .then(data => {
            console.log("Login successful:", data);
            localStorage.setItem('access_token', data.access_token);  // store the token

            const token = localStorage.getItem('access_token');
            console.log("Stored token: ", token);

            document.getElementById("errorMessage").textContent = "Login successful! Redirecting...";
            errorMessage.classList.remove("alert-fail");
            errorMessage.classList.add("alert-success");

            setTimeout(() => {
                window.location.href = '/protected'; 
            }, 1000); 
        })
        .catch(error => {
            document.getElementById("errorMessage").textContent = error.message;
            errorMessage.classList.remove("alert-success");
            errorMessage.classList.add("alert-fail");
        });
    });
</script>

</body>
</html>

{% endblock %}

