{% extends "navbar.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>

<form method="POST">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>
</form>

<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      <ul>
        {% for category, message in messages %}
          <li class="alert {{'alert-'+category}}">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% endblock %}
